body {
	font-family: 'Roboto', sans-serif;
	background: url("../background.png");	
	color: white;
}

h1 {
	font-size: 35px;
	font-weight: bold;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

a:active {
	color: white;
	text-decoration: none;
}

p {
	font-size: medium;
}

.technologies {
	margin-bottom: 15px;	
}

.technologies ul {
	list-style-type: none;
	text-align: center;
	padding: auto;
	margin: 20px auto 20px auto;
	line-height: 30px;
}

.technologies li {
	background-color: white;
	padding: 0em 1em;
	border-radius: 5px;
	color: #5E5E5E;
	font-size: 16px;
}

.noki-list {
	list-style-type: none;
}

.info-text {
	/*margin-top: 10px;*/
}
